.white_text {
    color: white!important;
    vertical-align: middle;
}

.blue_text {
    color: #22afc8!important;
    vertical-align: middle;
}

.black_text {
    color: black!important;
    vertical-align: middle;
}

.red_text {
    color: red !important;
    vertical-align: middle;
}

.dot_line {
    margin: 0.5rem 0rem 0rem 0rem;
    border-bottom: dotted 0.05rem grey;
    width: 100%;
}

.show_image {
    width: 100%;
}

.h2_title {
    font-size: 0.8rem;
    font-family: 'Arial';
    text-transform: uppercase;
    color: #02a9c4;
    background-image: url(../images/h2_title_bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 2rem;
    text-align: center;
    padding-top: 0.25rem;
}

#section_1,
#section_2,
#section_6,
#section_7,
#section_8,
#section_9,
#section_10,
#section_11,
#section_12 {
    font-size: 0.58rem;
}

#section_1>.row,
#section_2>.row,
#section_3>.slideshow-container,
#section_6>.row,
#section_7>.row,
#section_8>.row,
#section_9>.row,
#section_10>.row,
#section_11>.row,
#section_12>.row {
    margin: 0rem;
}

#section_3 {
    background: white;
    background-color: white;
}

#section_7,
#section_8,
#section_9,
#section_10,
#section_11,
#section_12 {
    padding-top: 1.25rem;
}

#section_10 {
    background-image: url(../images/sec_10_backgroud.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-bottom: 1.25rem;
}

#section_10>.blog_list {
    padding-top: 2rem;
}

.home_menu_contain {
    background-color: white;
    color: #00b9d7;
}

.home_menu_button_2 {
    width: 11rem;
    text-align: center;
    padding: 0.25rem 0.75rem;
}

.navbar-nav .nav-link {
    color: #00b9d7;
    border-top: 0.05rem solid gray;
}

.header_logo {
    line-height: 0.75rem;
    padding: 0 0.4rem;
}

.header_hotline {
    padding: 0rem 0.15rem 0.05rem 0.25rem;
}

.hotline_button {
    background-color: #e1ab31;
    border: solid 0.1rem white;
    border-radius: 0.25rem;
}

.hotline_button_2 {
    background-color: #00b9d7;
    border: solid 0.1rem white;
    border-radius: 0.25rem;
}

.hotline_number,
.hotline_number_2 {
    padding-left: 1.45rem;
    font-family: Arial;
    font-size: 0.6rem;
    text-align: left;
    line-height: 0.75rem;
}

.hotline_number_2 {
    padding-left: 2rem;
    line-height: 1.6rem;
    background-color: #00b9d7;
    border-radius: 0.25rem;
}

.hotline_number:before,
.hotline_number_2:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin-left: -1.15rem;
    margin-top: 0.25rem;
}

.hotline_number:before {
    background: url(../images/section_1_button_icon_hotline.png);
    background-size: cover;
}

.hotline_number_2:before {
    margin-top: 0.2rem;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: -1.4rem;
    background: url(../images/section_1_button_icon_tu_van.png);
    background-size: cover;
}

.hotline_number_text {
    font-family: Arial;
    font-size: 0.5rem;
}

.hotline_number_phone {
    text-transform: uppercase;
    font-family: Arial;
    font-size: 0.65rem;
    font-weight: bold;
}

.section_2_button,
.section_2_button_end {
    color: white;
    line-height: 0.4rem;
    font-size: 0.5rem;
    padding: 0.25rem 0.1rem 0.35rem 0.1rem;
}

.section_2_button {
    background-color: #00b9d7;
    border-right-color: white;
    border-right-style: solid;
}

.section_2_button_end {
    background-color: #00b9d7;
    border-left-color: #00b9d7;
    border-left-style: solid;
}

.section_6_button_1 {
    background-image: url(../images/sec_6_button_1.jpg);
}

.section_6_button_2 {
    background-image: url(../images/sec_6_button_2.jpg);
}

.section_6_button_3 {
    background-image: url(../images/sec_6_button_3.jpg);
}

.section_6_button_4 {
    background-image: url(../images/sec_6_button_4.jpg);
}

.section_6_button_5 {
    background-image: url(../images/sec_6_button_5.jpg);
}

.section_6_button_6 {
    background-image: url(../images/sec_6_button_6.jpg);
}

.section_6_button_7 {
    background-image: url(../images/sec_6_button_7.jpg);
}

.section_6_button_8 {
    background-image: url(../images/sec_6_button_8.jpg);
}

.section_6_button_9 {
    background-image: url(../images/sec_6_button_9.jpg);
}

.section_6_button_1,
.section_6_button_2,
.section_6_button_3,
.section_6_button_4,
.section_6_button_5,
.section_6_button_6,
.section_6_button_7,
.section_6_button_8,
.section_6_button_9 {
    height: 5rem;
    width: 5rem;
    background-size: cover;
    margin: 0.165rem;
}

.section_6_title {
    position: absolute;
    padding-top: 3.45rem;
    margin-left: -1.6rem;
    width: 3.5rem;
    line-height: 0.65rem;
    text-transform: uppercase;
}

.section_7_button_area {
    height: 5rem;
    width: 5rem;
    margin: 0.165rem;
}

.section_7_button {
    height: 4rem;
    width: 4rem;
    background-image: url(../images/sec_7_button_bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -0.55rem;
}

.sec_7_button_icon_1 {
    background-image: url(../images/sec_7_button_icon_1.png);
}

.sec_7_button_icon_2 {
    background-image: url(../images/sec_7_button_icon_2.png);
}

.sec_7_button_icon_3 {
    background-image: url(../images/sec_7_button_icon_3.png);
}

.sec_7_button_icon_4 {
    background-image: url(../images/sec_7_button_icon_4.png);
}

.sec_7_button_icon_5 {
    background-image: url(../images/sec_7_button_icon_5.png);
}

.sec_7_button_icon_6 {
    background-image: url(../images/sec_7_button_icon_6.png);
}

.sec_7_button_icon_1,
.sec_7_button_icon_2,
.sec_7_button_icon_3,
.sec_7_button_icon_4,
.sec_7_button_icon_5,
.sec_7_button_icon_6 {
    background-size: contain;
    height: 1.75rem;
    width: 1.3rem;
    background-repeat: no-repeat;
    margin: 0.5rem;
    position: absolute;
    margin: 1rem 1.7rem;
}

.section_7_title {
    text-transform: uppercase;
    font-size: 0.42rem;
    text-align: center;
    font-family: 'Arial';
    padding: -0.25rem;
    margin: -0.5rem 0rem 0rem 0rem;
}

#section_9 {
    background-image: none;
}

#section_9>div>div.col-7 {
    padding-left: 0.5rem;
}

#section_9>div>div.col-7>p {
    text-align: left;
    font-size: 0.52rem;
}

#section_9>div>div.col-7>p>a {
    color: red;
    font-weight: 500;
}

.blog_item_image,
.blog_item_desc {
    padding-left: 0rem;
}

.blog_title {
    font-size: 23.5px;
    color: #59bcd1;
    font-family: Arial;
    text-align: -webkit-left;
}

.section_10_button {
    background: repeating-linear-gradient(90deg, #02a9c4 24%, #0190b1 100%);
    border-radius: 0.5rem;
    margin: 0.25rem 0.4rem;
    width: 7.2rem;
    height: 1.8rem;
    text-align: left;
    font-size: 0.5rem;
    font-family: 'Arial';
}

.section_10_title {
    vertical-align: middle;
    padding-left: 1.2rem;
    color: white;
    font-size: 0.45rem;
    font-family: 'Arial';
    font-weight: 500;
}

.section_10_title::before {
    content: '';
    position: absolute;
    margin-top: 0.45rem;
    width: 1rem;
    height: 0.85rem;
    margin-left: -1.5rem;
    background-image: url(../images/sec_10_button_icon.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#section_10>div>div>div>a {
    vertical-align: -webkit-baseline-middle;
}

.section_11_image {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
}

.section_11_title {
    padding-top: 0.5rem;
}

#section_12,
#section_17 {
    background: #00b9d7;
    margin: 0;
    padding-bottom: 1rem;
}

.site-info,
.sticker-5rem {
    background-color: #008399;
}

.site-info .sticker-7rem {
    background-color: #009ab4;
    width: 7rem;
}

.site-info .sticker-5rem {
    width: 5rem;
}

.sticker-7rem,
.sticker-5rem {
    font-weight: bold;
    font-family: 'Arial';
    text-align: center;
}

.p_icon_phone {
    padding-left: 1rem;
}

.p_icon_phone:before {
    content: '';
    background-size: cover;
    position: absolute;
    background-position: center;
    background-position-y: center;
    margin-left: -1rem;
    width: 0.75rem;
    height: 0.75rem;
    background-image: url(../images/sticker-icon-phone.png);
}

.p_hotline {
    color: red;
    font-size: 0.75rem;
    text-shadow: -0.05rem 0 white, 0 0.05rem white, 0.05rem 0 white, 0 -0.05rem white;
}

.home_menu_button_2 {
    width: 100%;
}

.form_menu {
    margin-left: 0.65rem;
    position: relative;
}

.nhap_so_dien_thoai {
    border-radius: 0.5rem;
    border: solid 0.05rem white;
    background: linear-gradient(90deg, #00afcc 88%, #00afcc 12%);
    color: white;
    font-size: 0.4rem;
    width: 12.3rem;
    padding-left: 0.25rem;
    line-height: 1rem;
}

.nhap_so_dien_thoai:focus {
    background: white;
    color: black;
    font-family: Arial;
    font-size: 0.5rem;
    padding-left: 0.25rem;
    line-height: 1rem;
    border: none;
}

.nhap_so_dien_thoai::placeholder {
    color: white;
    font-family: Arial;
    font-size: 0.4rem;
    text-align: left;
    padding-left: 0.25rem;
}

.nhap_so_dien_thoai[type="submit"] {
    font-size: 0.4rem;
    margin-left: -1.75rem;
    width: 1.5rem;
    color: white;
    background: transparent;
    font-family: Arial;
    border: 0;
    font-weight: bold;
}

.site-info {
    margin-bottom: -0.45rem;
}

.pagination>li.active {
    background-color: #00afcc;
}

.breadcrumb-item.active {
    color: #00afcc;
    background-color: transparent;
}

#home_menu>div>div.home_menu_button_2 {
    width: 70%;
}

.post_content_button_2,
.button_2_contain {
    background: linear-gradient(70deg, #e3a33b, #e08e2c, #de791e);
    border-radius: 0.5rem;
}

.post_content_button_1,
.post_content_button_2 {
    width: 5.8rem;
}

.post_content_button_1 {
    margin-left: 2rem;
    margin-right: 0.25rem;
}

.post_content_button_2 {
    margin-left: 0.25rem;
    margin-right: 2rem;
}

.post_content_button_1,
.button_1_contain {
    background: linear-gradient(70deg, #48d7f0, #15bfdd, #00afcc);
    border-radius: 0.5rem;
}

.button_1_contain,
.button_2_contain {
    color: white;
    font-size: 0.45rem;
    margin: 0.15rem 0;
    border: solid 0.07rem white;
    font-style: italic;
    padding-left: 0.6rem;
    padding-right: 0.15rem;
}

.button_1_contain::before,
.button_2_contain::before {
    content: '';
    margin-left: -0.75rem;
    background-size: cover;
    position: absolute;
    background-position: center;
    background-position-y: center;
    margin-top: 0.15rem;
    width: 0.6rem;
    height: 0.5rem;
}

.button_1_contain::before {
    background-image: url(../images/post_content_icon_button_1.png);
}

.button_2_contain::before {
    background-image: url(../images/post_content_icon_button_2.png);
}

.home_menu_contain>button {
    background: white;
    border-radius: 0;
}

#navbarFirst {
    background: white;
}

#content>div>div.post_button_contain {
    margin-top: 0.5rem;
}